luigi
xarray
numpy
pyyaml
future
# until we have cloudmetrics on pip we will install directly from github
git+https://github.com/cloudsci/cloudmetrics#egg=cloudmetrics

worldview-dl==0.2.0

# will eventually go on pipy
git+https://github.com/leifdenby/modapsclient/#egg=modapsclient
